<script>
$('#datepicker').show();
</script>
<script src="/static/JS/jquery-1.11.3.min.js"></script>
<!-- ECharts单文件引入 -->
<script src="/static/build/dist/echarts.js"></script>
<script src="/static/JS/apptype.js"></script>
<div id="apptype_area" class="col-sm-12">

	<div class="col-sm-12">
		<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
		<div class="col-xs-10 col-sm-7" id="apptype_bar"
			style="height: 300px; width: 63%"></div>
		<div class="col-xs-10 col-sm-5 " id="apptype_pie"
			style="height: 300px; width: 37%"></div>
	</div>

	<div class="col-sm-12">
		<div class="col-sm-12">
			<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
			<div class="col-xs-10 col-sm-12" id="apptype_date_bar" style="height: 300px;"></div>
		</div>
	</div>

</div>
