<div id="loginbox" class=""
	style="top: 0px; left: 0px; position: fixed; width: 100%; height: 100%; opacity: 0.7; z-index: 2; background-color: #ffffff;display:none">

	<div id="logform" class="col-xm-12 col-sm-3 col-md-3 vertical-center"
		style="z-index: 3; background-color: #ffffff; border: 5px solid #ddd;">
		<form class="form-signin">
			<h2>欢迎登录</h2>
			<div class="form-group  col-xm-12 col-sm-12">
				<label for="exampleInputEmail1">账号</label> <input
					class="form-control " placeholder="请输入6-15位账号">
			</div>
			<div class="form-group  col-xm-12 col-sm-12">
				<label for="exampleInputEmail1">密码</label> <input type="password"
					class="form-control " placeholder="请输入6-15位密码">
			</div>
			<div class="checkbox col-xm-12 col-sm-12">
				<label> <input type="checkbox"> 记住账号
				</label>
			</div>
		</form>
		<button id='loginbtn' class="btn btn-primary col-xm-12 col-sm-12"
			style="margin-bottom: 10px">登录</button>
	</div>
</div>

<div id="waitpic" class=""
	style="top: 0px; left: 0px; position: fixed; width: 100%; height: 100%; opacity: 0.7; z-index: 2; background-color: #ffffff;display:none">
	<div id="waiting"  class="col-xm-6 col-sm-3 col-md-3 vertical-center">
		<img  class="col-xm-6 col-sm-6 col-md-6 vertical-center" src="/static/images/processing.gif">
	</div>
</div>
