<script>
$('#datepicker').show();
</script>
<script src="/static/JS/jquery-1.11.3.min.js"></script>
<!-- ECharts单文件引入 -->
<script src="/static/build/dist/echarts.js"></script>	
<script src="/static/JS/webcount.js"></script>
<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
<div class="col-xs-12 col-sm-12" id="webcount_bar" style="height: 350px"></div>
<div class="col-xs-12 col-sm-6" id="browser_bar" style="height: 300px"></div>
<div class="col-xs-12 col-sm-6" id="browser_pie" style="height: 300px"></div>
</div>
